<!DOCTYPE html>
<html lang="pt-br">
{% include 'Generico/head.html' %}
<body>
    {% include 'Generico/navbar.html' %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/cartaz.css') }}">
    <main>
        <div class="cartaz_Botoes_Laterais">
            <p class="cartaz_Title">
                Configurações
            </p>
            <div class="texto_bordado_branco cartaz_Tema_atual">
                Tema atual: 
                <p>
                    {{config['Theme']}}
                </p>
            </div>
            <a href="javascript:tela_Lista_De_Promocao()" class="texto_bordado_branco cartaz_Tema">
                <img src="{{ url_for('static', filename='Img/Cartaz_Tema.png') }}">
                <div>
                    <div>Alterar</div>
                    <div>Tema</div>
                </div>
            </a>
            <a href="javascript:tela_Ajuste_Logo()" class="texto_bordado_branco cartaz_Logo">
                <img src="{{ url_for('static', filename='Img/Cartaz_Logo.png') }}">
                <div>
                    <div>Ajustar</div>
                    <div>Logo</div>
                </div>
            </a>
            <a href="#" class="texto_bordado_branco cartaz_Rodape">
                <img src="{{ url_for('static', filename='Img/Cartaz_Rodape.png') }}">
                <div>
                    <div>Ajustar</div>
                    <div>Rodapé</div>
                </div>
            </a>
            <div class="cartaz_Formatos">
                <p class="texto_bordado_branco">Formatos</p>
                <div class="cartaz_Formatos_Opcoes">
                    <div>
                        <input type="checkbox" name="Vertical" id="Vertical" checked>
                        <label for="Vertical" class="texto_bordado_branco">Vertical</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Horizontal" id="Horizontal" checked>
                        <label for="Horizontal" class="texto_bordado_branco">Horizontal</label>
                    </div>
                </div>
            </div>
            <a href="#" class="texto_bordado_branco cartaz_Preco2">
                <img src="{{ url_for('static', filename='Img/Cartaz_Preco2.png') }}">
                <div>
                    <div>Ajustar</div>
                    <div>% Fator</div>
                </div>
            </a>
            <a href="#" class="texto_bordado_branco cartaz_Outros_Parametros">
                <img src="{{ url_for('static', filename='Img/Cartaz_Outros_Parametros.png') }}">
                <div>
                    <div>Outros</div>
                    <div>Parâmetros</div>
                </div>
            </a>
            <a href="#" class="texto_bordado_branco cartaz_Iniciar">
                <img src="{{ url_for('static', filename='Img/Cartaz_Iniciar.png') }}">
                <div>
                    Iniciar!
                </div>
            </a>
        </div>
        <div class="cartaz_Imagens">
            <div class="cartaz_Vertical">
                    <p>Vertical</p>
                    <img src="{{ url_for('static', filename='Exemple/Retrato.png') }}" alt="Modelo Vertical">
            </div>
            <div class="cartaz_Horizontal">
                <p>Horizontal</p>
                <img src="{{ url_for('static', filename='Exemple/Paisagem.png') }}" alt="Modelo Horizontal">
            </div>
        </div>
    </main>
    <div class="cartaz_Barra_De_Progresso">
        <div></div>
    </div>
    <div class="Alterar_Tema_Background_Fechado" id="Alterar_Tema_Background"></div>
    <div class="alterar_Tema_Fechado" id="alterar_Tema">
        <h1>Alteração de tema</h1>
        <input type="text" class="alterar_Tema_Query" placeholder="Informe o tema: ">
        <div class="alterar_Tema_Results"></div>
        <a href="javascript:tela_Lista_De_Promocao()" class="alterar_Tema_Fechar"><img src="{{ url_for('static', filename='Img/Cartaz_Fechar.png') }}" alt="Fechar"></a>
    </div>
    <div class="Alterar_Logo_Background" id="Alterar_Logo_Background"></div>
    <div class="Alterar_Logo" id="Alterar_Logo">
        <h1>Alteração da Logo</h1>
        <h2>
            Logo Atual: 
            <div>
                {{config['Logo']}}
            </div>
        </h2>
        <div class="Alterar_Logo_Form">
            <div class="Alterar_Logo_Form_Interno">
                <label for="Alterar_Logo">Alterar Logo</label>
                <input type="file" name="Alterar_Logo" id="Alterar_Logo">
            </div>
            <div class="Alterar_Logo_Form_Interno">
                <label for="Alterar_Logo_Altura">Altura: </label>
                <input type="range" name="Alterar_Logo_Altura" id="Alterar_Logo_Altura">
            </div>
            <div class="Alterar_Logo_Form_Interno">
                <label for="Alterar_Logo_Largura">Largura: </label>
                <input type="range" name="Alterar_Logo_Largura" id="Alterar_Logo_Largura">
            </div>
            <div class="Alterar_Logo_Form_Interno">
                <label for="Alterar_Logo_distanciaX">Distância X: </label>
                <input type="range" name="Alterar_Logo_distanciaX" id="Alterar_Logo_distanciaX">
            </div>
            <div class="Alterar_Logo_Form_Interno">
                <label for="Alterar_Logo_DistanciaY">Distância Y: </label>
                <input type="range" name="Alterar_Logo_DistanciaY" id="Alterar_Logo_DistanciaY">
            </div>
        </div>
        <div class="Alterar_Logo_Results"></div>
        <a href="javascript:tela_Ajusta_Logo()" class="Alterar_Logo_Fechar"><img src="{{ url_for('static', filename='Img/Cartaz_Fechar.png') }}" alt="Fechar"></a>
    </div>
    {% include 'Generico/footer.html' %}
    <script src="{{ url_for('static', filename='Script/cartaz.js') }}"></script>
</body>
</html>