main{
    width: 80%;
    margin-left: 10%;
    color: white;
}
main h1{text-align: center;}
/* Botoes superiores */
.buttons_Lista_Promocao_Pequenos{
    display: none;
    justify-content: space-evenly;
    padding-top: 8%;
}
.buttons_Lista_Promocao_Pequenos a{
    background-color: #ccc;
    padding: 2%;
    border-radius: 20%;
    display: flex;
    transition: 0.5s;
    border: 3px solid #666;
}
.buttons_Lista_Promocao_Pequenos img{width: 32px;}
.buttons_Lista_Promocao_Pequenos a:hover{background-color: #888;border: 3px solid #ccc;}
.buttons_Lista_Promocao{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    padding: 5% 0;
}
.buttons_Lista_Promocao>div{
    width: 30%;
    text-align: center;
    font-size: 1.5em;
}
.buttons_Lista_Promocao>div a{
    border: 2px solid #fff;
    padding: 6% 8%;
    border-radius: 15px;
    background-color: #bbb;
    text-decoration: none;
    letter-spacing: 2px;
}
.buttons_Lista_Promocao>div a:hover{background-color: #888;border: 2px solid #ccc;}
.buttons_Lista_Promocao>div a:active{background-color: #555;border: 2px solid #aaa;}
/* Lista de itens */
.itens_Promocao{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.item_Promocao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #bbb;
    padding: 5%;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
    margin: 5%;
}
.item_Promocao:hover{
    background: #bbb;
}
.valor_Item_Promocao{
    color: red;
    font-size: 1.8em;
    margin-top: 0;
}
/* Background para telas da promocao */
.background_Adicionar_Promocao, .background_Adicionar_Lista, .background_Editar_Lista{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    filter: opacity(95%);
    cursor: pointer;
}
.background_Adicionar_Promocao_Fechado, .background_Adicionar_Lista_Fechado, .background_Editar_Lista_Fechado{display: none;}
/* Fechar telas */
.adicionar_Promocao_Fechado, .adicionar_Lista_Fechado, .editar_Lista_Fechado{display: none;}
/* Tela inserir item */
.adicionar_Promocao{
    position: absolute;
    top: 15%;
    width: 60%;
    margin-left: 20%;
    background: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.adicionar_Promocao h1{margin-bottom: 8%;}
.adicionar_Promocao_Inputs{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 70%;
}
.adicionar_Promocao_Inputs label{
    font-size: 1.3em;
}
.adicionar_Promocao_Inputs input{
    width: 60%;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    margin-bottom: 5%;
}
.adicionar_Promocao_Inputs input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.adicionar_Promocao_Inputs input:invalid {
    border-color: #dc3545;
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.5);
}
.adicionar_Promocao_Buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 70%;
}
.adicionar_Promocao_Buttons>div{
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 3% 8%;
    border: 2px solid black;
    transition: 1s;
}
.adicionar_Promocao_Buttons a{
    text-decoration: none;
}
.adicionar_Promocao_Fechar{background: rgb(108, 17, 17);}
.adicionar_Promocao_Fechar:hover{background: rgb(62, 11, 11);}
.adicionar_Promocao_Enviar{background: rgb(17, 108, 31);}
.adicionar_Promocao_Enviar:hover{background: rgb(9, 58, 17);}
/* Tela inserir lista */
.adicionar_Lista{
    position: absolute;
    top: 15%;
    width: 60%;
    margin-left: 20%;
    background: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.adicionar_Lista h1{margin: 4% 0;}
#Inserir_Lista{
    width: 70%; 
    padding: 3%;
    margin-bottom: 5%;
    font-size: 1.8em;
    font-weight: bold;
    border: 3px solid #888;
    border-radius: 15px;
    background-color: #eee;
    resize: none;   
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
}
#Inserir_Lista:invalid {border-color: #dc3545;box-shadow: 0 0 8px rgba(220, 53, 69, 0.5);}
.adicionar_Lista_Buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 90%;
}
.adicionar_Lista_Buttons>div{
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 2% 6%;
    border: 2px solid black;
    transition: 1s;
}
.adicionar_Lista_Limpar{background: rgb(187, 172, 0);}
.adicionar_Lista_Limpar:hover{background: rgb(122, 112, 0);}
.adicionar_Lista_Fechar{background: rgb(108, 17, 17);}
.adicionar_Lista_Fechar:hover{background: rgb(62, 11, 11);}
.adicionar_Lista_Enviar:hover{background: rgb(9, 58, 17);}
.adicionar_Lista_Enviar{background: rgb(17, 108, 31);}
/* Tela Editar lista */
.editar_Lista{
    position: absolute;
    top: 10%;
    width: 60%;;
    margin-left: 20%;
    background: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.editar_Lista h1{margin: 4% 0;}
#Editar_Lista{
    width: 70%;
    padding: 3%;
    margin-bottom: 5%;
    font-size: 1.8em;
    font-weight: bold;
    border: 3px solid #888;
    border-radius: 15px;
    background-color: #eee;
    resize: none;   
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
}
#Editar_Lista:invalid {border-color: #dc3545;box-shadow: 0 0 8px rgba(220, 53, 69, 0.5);}
.editar_Lista_Buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 90%;
}
.editar_Lista_Buttons>div{
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 2% 6%;
    border: 2px solid black;
    transition: 1s;
}
.editar_Lista_Limpar{background: rgb(187, 172, 0);}
.editar_Lista_Limpar:hover{background: rgb(122, 112, 0);}
.editar_Lista_Fechar{background: rgb(108, 17, 17);}
.editar_Lista_Fechar:hover{background: rgb(62, 11, 11);}
.editar_Lista_Enviar:hover{background: rgb(9, 58, 17);}
.editar_Lista_Enviar{background: rgb(17, 108, 31);}
@media (max-width: 1200px) {
    main .itens_Promocao{
        grid-template-columns: repeat(4, 1fr);
    }
    .buttons_Lista_Promocao>div{
        font-size: 1.3em;
    }
}
@media (max-width: 1000px) {
    main .itens_Promocao{
        grid-template-columns: repeat(3, 1fr);
    }
    .buttons_Lista_Promocao>div{
        font-size: 1.1em;
    }
    .buttons_Lista_Promocao>div a{
        padding: 6%;
    }
    .adicionar_Promocao{
        width: 80%;
        margin-left: 10%;
    }
    .adicionar_Lista_Buttons{
        width: 80%;
    }
    .adicionar_Lista_Buttons>div{
        font-size: 1.1em;
        padding: 2% 4%;
    }
    #Inserir_Lista{
        width: 80%;
        font-size: 1.4em;
    }
}
@media (max-width: 800px) {
    main .itens_Promocao{
        grid-template-columns: repeat(2, 1fr);
    }
    .buttons_Lista_Promocao{
        display: none !important;
    }
    .buttons_Lista_Promocao_Pequenos{
        display: flex;
    }
    .adicionar_Promocao{
        width: 60%;
        margin-left: 20%;
    }
    .adicionar_Promocao_Inputs{
        flex-direction: column;
        align-items: center !important;
    }
    .adicionar_Promocao_Inputs label{
        margin-bottom: 5%;
    }
    .adicionar_Promocao_Inputs input{
        width: 90% !important;
    }
    .adicionar_Promocao_Buttons{
        margin: 5% 0;
    }
    .adicionar_Lista h1{
        font-size: 1.8em;
    }
    .adicionar_Lista_Buttons{
        width: 90%;
    }
    .adicionar_Lista_Buttons>div{
        font-size: 1em;
    }
}
@media (max-width: 600px) {
    main .itens_Promocao{
        grid-template-columns: repeat(1, 1fr);

    }
    .adicionar_Lista h1{
        font-size: 1.5em;
    }
    #Inserir_Lista{
        font-size: 1.2em;
    }
}