/* Bordas */
.texto_bordado_preto {color: #ffffff;text-shadow:1px 1px 0px #000000,-1px 1px 0px #000000,1px -1px 0px #000000,-1px -1px 0px #000000,1px 1px 0px #000000,-1px 1px 0px #000000,1px -1px 0px #000000,-1px -1px 0px #000000;}
.texto_bordado_branco {color: #000000;text-shadow:1px 1px 0px #ffffff,-1px 1px 0px #ffffff,1px -1px 0px #ffffff,-1px -1px 0px #ffffff,1px 1px 0px #ffffff,-1px 1px 0px #ffffff,1px -1px 0px #ffffff,-1px -1px 0px #ffffff;}
.imagem_bordado_preto{filter: drop-shadow(1px 1px 0 #000000)drop-shadow(-1px -1px 0 #000000)drop-shadow(-1px 1px 0 #000000)drop-shadow(1px -1px 0 #000000);}
.imagem_bordado_branco{filter: drop-shadow(1px 1px 0 #ffffff)drop-shadow(-1px -1px 0 #ffffff)drop-shadow(-1px 1px 0 #ffffff)drop-shadow(1px -1px 0 #ffffff);}
.select{transition: 0.3s;position: relative;transition: color 0.5s ease;}
.select::after{content: "";position: absolute;left: 0;bottom: 0;width: 0;height: 3px;background-color: #666666;transition: width 0.5s ease;}
.select:hover {color: #666666;}
.select:hover::after {width: 100%;}
/* CSS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #bbb;
    padding: 1% 5%;
}
.navbar .logo .logo_Nome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-items: flex-end;
}
.navbar .logo img{
    width: 64px;
}
.navbar .logo .logo_Nome p{
    margin: 0;
}
.navbar .logo .logo_Nome p:first-child{font-size: 1.1em;}
.navbar .logo .logo_Nome p:last-child{font-size: 1.4em;}
.navbar .nav-items {
    display: flex;
    justify-content: flex-end;
}
.navbar .nav-items a {
    text-decoration: none;
    height: 100%;
    padding: 0 5%;
    font-size: 1.4em;
}
.navbar .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.navbar .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
}
@media (max-width: 1200px) {
    .navbar{
        justify-content: space-between;
    }
}
@media (max-width: 1000px) {
    .navbar{
        justify-content: space-between;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .navbar .nav-items {
        border-top: 2px solid black;
        display: none;
        flex-direction: column;
        background-color: #bbb;
        position: absolute;
        width: 100%;
        top: -100%;
        left: 0px;
        border-radius: 4px;
    }
    .navbar .nav-items a{
        display: flex;
        justify-content: center;
        padding: 3% 0;
    }
    .navbar .nav-items.active {
        display: flex;
    }
    .navbar .hamburger {
        display: flex;
    }
    
}