main{
    width: 80%;
    margin-left: 10%;
    color: white;
}
main h1{text-align: center;}
.buttons_Lista_Promocao_Pequenos{
    display: none;
    justify-content: space-evenly;
    padding-top: 8%;
}
.buttons_Lista_Promocao_Pequenos a{
    background-color: #ccc;
    padding: 2%;
    border-radius: 20%;
    display: flex;
    transition: 0.5s;
    border: 3px solid #666;
}
/* Botoes superiores */
.buttons_Lista_Promocao_Pequenos img{width: 32px;}
.buttons_Lista_Promocao_Pequenos a:hover{background-color: #888;border: 3px solid #ccc;}
.buttons_Lista_Promocao{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    padding: 2% 0;
}
.buttons_Lista_Promocao>div{
    width: 30%;
    text-align: center;
    font-size: 1.5em;
}
.buttons_Lista_Promocao>div a{
    border-bottom: 2px solid #fff;
    padding: 0 10px 5px 10px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.2s;
}
.buttons_Lista_Promocao>div a:hover{border: 2px solid #ccc; padding: 0 20px 5px 20px;color: #f00;}
.buttons_Lista_Promocao>div a:active{border: 2px solid #666; padding: 0 20px 5px 20px;color: rgba(15, 78, 22, 0.499);}

/* Lista de itens */
.itens_Promocao{
    background: #fff;
    border-radius: 15px;
    padding: 2% 5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.item_Promocao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #bbb;
    text-align: center;
    padding: 0 5%;
    border-radius: 15px;
    transition: 0.1s;
    margin: 5%;
    position: relative;
}
.item_Promocao:hover{
    border: 2px solid #f00
}
.valor_Item_Promocao{
    color: red;
    font-size: 2.5em;
    margin: 0 0 5% 0;
}
.item_Promocao_Botoes{
    display: none;
    width: 90%;
    justify-content: space-between;
    position: absolute;
    transition: 1s;
}
.item_Promocao_Botoes img:hover{
    border: 2px solid #000;
    border-radius: 5px;
    transition: .1s;
}
.item_Promocao_Botoes img{
    width: 32px;
}
.item_Promocao:hover .item_Promocao_Botoes {
    display: flex;
}
/* Background para telas da promocao */
.background_Adicionar_Promocao, .background_Adicionar_Lista, .background_Alterar_Promocao{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    filter: opacity(95%);
    cursor: pointer;
}
.background_Adicionar_Promocao_Fechado, .background_Adicionar_Lista_Fechado, .background_Alterar_Promocao_Fechado{display: none;}
/* Fechar telas */
.adicionar_Promocao_Fechado, .adicionar_Lista_Fechado, .alterar_Promocao_Fechado{display: none;}
/* Tela inserir item */
.adicionar_Promocao, .alterar_Promocao{
    position: absolute;
    top: 15%;
    width: 60%;
    margin-left: 20%;
    background: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.adicionar_Promocao h1, .alterar_Promocao h1{margin-bottom: 8%;}
.adicionar_Promocao_Inputs, .alterar_Promocao_Inputs{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 70%;
}
.adicionar_Promocao_Inputs label, .alterar_Promocao_Inputs label{
    font-size: 1.3em;
}
.adicionar_Promocao_Inputs input, .alterar_Promocao_Inputs input{
    width: 60%;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    margin-bottom: 5%;
}
.adicionar_Promocao_Inputs input:focus , .alterar_Promocao_Inputs input:focus{
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.adicionar_Promocao_Inputs input:invalid .alterar_Promocao_Inputs input:invalid{
    border-color: #dc3545;
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.5);
}
.adicionar_Promocao_Buttons, .alterar_Promocao_Buttons{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
}
.adicionar_Promocao_Buttons>div, .alterar_Promocao_Buttons>div{
    margin-bottom: 5%;
    font-size: 1.3em;
    transition: 1s;
}
.adicionar_Promocao_Buttons a, .alterar_Promocao_Buttons a{
    text-decoration: none;
}
/* Tela inserir lista */
.adicionar_Lista{
    position: absolute;
    top: 15%;
    width: 60%;
    margin-left: 20%;
    background: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.adicionar_Lista h1{margin: 4% 0;}
#Inserir_Lista{
    width: 70%; 
    padding: 3%;
    margin-bottom: 5%;
    font-size: 1.8em;
    font-weight: bold;
    border: 3px solid #888;
    border-radius: 15px;
    background-color: #eee;
    resize: none;   
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
}
#Inserir_Lista:invalid {border-color: #dc3545;box-shadow: 0 0 8px rgba(220, 53, 69, 0.5);}
.adicionar_Lista_Buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 90%;
}
.adicionar_Lista_Buttons>div{
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 1.3em;
    transition: 1s;
}